html{
    background-color:yellowgreen;
}   
select{
    background-color: red;
    padding: 0.5em;
}

label{
    background-color:honeydew; 
}

select,[type=text],[type=email],[type=number]{
    background-color:turquoise;
    color:red;
}

ul{
    list-style-type: none;
}
#title{
    color:red;
    column-span: all;
    text-align: center;
}
#form-outer{
    padding: 1em;
    margin: 4em;
    text-align: center;
    background-color: white;
    border: 1em;
    border-style: solid;
    border-color: red;
}